@use '../variables.scss';

.list-view {
  th {
    padding: 8px;
    text-align: left;
    background-color: var(--nav-bg);
  }

  td {
    padding: 8px;
    text-align: left;
  }

  &.borders {
    border-collapse: collapse;

    td,
    th {
      font-family: var(--mf-font-family);
      border: 1px solid variables.$borderColor;
      padding: 8px;
    }
  }

  tr.footer-row {
    td {
      border: none;
    }
  }
}
