@use './variables';

.config-editor {
  padding-top: 0px;
  font-family: variables.$fontFamily;

  h2 {
    color: variables.$headerColor;
    text-transform: uppercase;
    margin-bottom: calc(var(--mf-spacing) * 3);
    font-size: medium;
    font-weight: bold;
    line-height: 150%;
    font-family: variables.$fontFamily;
  }

  h3 {
    color: rgba(variables.$headerColor, 0.8);
    margin-bottom: calc(var(--mf-spacing) * 2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    line-height: 150%;
    font-family: variables.$fontFamily;
  }

  .editor-footer {
    padding: 20px;
    border-top: 1px solid variables.$borderColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .editor-status {
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
    padding-top: 5px;
    margin-bottom: -25px;

    .info {
      background-color: var(--themed-status-info-background);
      color: var(--themed-status-info-text);
      height: 28px;
      font-weight: 500;
      border-radius: 6px;
      padding: 5px 5px 3px;
    }
  }
}
