// variables.scss
$brandFont: 'Inter';
$brandColor: #2ab4e8;
$borderColor: var(--themed-reusable-border-default);
$headerColor: var(--themed-reusable-text-secondary);
$secondaryTextColor: #ccc; //TODO: var(--themed-reusable-text-secondary);
$inputErrorColor: var(--input-error-color);
$fontSize: var(--base-dimension-text-small);
