@use '../../bulma-theme' as theme;

.button-selector-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  .control {
    flex: 0 0 auto;
    margin: 0 !important;
    padding: 0 !important;

    &:not(:last-child) {
      margin-right: 0 !important;
    }
  }

  .button {
    border-radius: 0;
    margin: 0 !important;
    border-right-width: 0;

    &.is-selected {
      background-color: theme.$selectedBackgroundColor;
      color: theme.$borderColor;
      opacity: 1;
      cursor: auto;
    }

    &:first-child {
      border-top-left-radius: theme.$controlRadius;
      border-bottom-left-radius: theme.$controlRadius;
    }

    &:last-child {
      border-top-right-radius: theme.$controlRadius;
      border-bottom-right-radius: theme.$controlRadius;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0px;
    }
  }
} 